*{
    margin: 0;
    
}
body{
font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
width: 100vw;
height: 100vh;
}
#main-conatainer{  
  box-shadow: 12px 12px 122px 32px rgb(222, 217, 217) ;
    border-radius: 20px;
    height: 100vh;
}
#GPA-Header{
    display: flex;
    justify-content: center;
     font-size: 32px;
     color: rgb(181, 7, 7);
     font-weight: bold;
}
#student-ID-Name{
    display: flex;
    justify-content: space-around;
  
}
#student-name{
width: 15rem;
height: 2rem;
border: 2px solid #a9acac;
border-radius: 1rem;
font-size: 1rem;
 font-family: cursive;
 background-color: hsl(220, 21%, 95%);
}
#student-id{
width: 15rem;
height: 2rem;
border: 2px solid #a9acac;
border-radius: 1rem;
font-size: 1rem;
 font-family: cursive;
 background-color: hsl(220, 21%, 95%);
}
#course-grade-credit{
    display: flex;
     justify-content: space-around;
     font-weight: bolder;
     font-size: 1.4rem;
}


#result-display-button{
    display: flex;
     justify-content: flex-start;
     gap:32px;
     margin: 12px;
     height: 40px;
     padding: 6px;
     
}
.delete{
    background-color: red;
    border: none;
    height: 2rem;
    border-radius: .3rem;
}
.addCourse-button{
    background-color: #3882F6;
    border-radius: 20px;
    width:150px;
    font-weight: bold;
    border: 4px;
    color:rgb(255, 255, 255);
}
.calculate-GPA-button{
    background-color: rgb(245, 186, 47);
    border-radius: 20px;
    width:150px;
    font-weight: bold;
    border: 4px;
}
.export-PDF{
    background-color: rgb(1, 177, 1);
    border-radius: 20px;
    width:150px;
    font-weight: bold;
    border: 4px;
    color:rgb(255, 255, 255);
}
#total-result{
    display: flex;
    justify-content: space-between;
     margin: 12px;
     height: 50px;
     font-weight: bold;
      font-size: 17px;
}
.final-GPA{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 226, 228);
     border: 2px solid rgb(230, 235, 230);
     margin: 12px;
     height: 50px;
     font-size: 20px;
     border-radius: 20px;
}
#grade-scale{
    display: flex;
    flex-direction: column;
    background-color: rgb(244, 248, 252);
   padding: 25px;
   margin: 22px;
   border-radius: 20px;
}
.courseInput{
    width: 10rem;
    height: 2rem ;
}
